.main-contener{
    height: 900px;

   display: flex;
   justify-content: space-around;
   
}
.first-contener{
  
}
.h3-style{
    color: #272727;
    font-family: Lato;
    font-size: 80px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
   
}
.p-style{
    color: rgba(39, 39, 39, 0.60);
font-family: Lato;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 30px;}

.pic{
height: 700px;

}
.btn-style{
    height: 40px;
    width: 105px;
    background: #E55473;
    color: antiquewhite;
    border: #E55473;
}
.Featured{
    color: #272727;
text-align: center;
font-family: Lato;
font-size: 40px;
font-style: normal;
font-weight: 800;
line-height: normal;
}
.looking{
    color: rgba(39, 39, 39, 0.60);
text-align: center;
font-family: Lato;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 30px;
width: 1300px;
}
.pics-contener{
    display: flex;
    justify-content: space-around;
    height: 490px;
    align-items: center;
}
.first-img{
    height: 320px;
    border-radius: 300px 300px 0px 0px;
    background: rgba(167, 33, 98, 0.15);
}
.secound-img{
    height: 320px;
    border-radius: 300px 300px 0px 0px;
background: rgba(5, 151, 160, 0.15);
}
.third-img{
    height: 320px;
    border-radius: 300px 300px 0px 0px;
background: rgba(71, 125, 17, 0.15);
}
.first-flwr{
    color: #272727;
text-align: center;
font-family: Lato;
font-size: 24px;
font-style: normal;
font-weight: 700;
line-height: 35px;
text-decoration-line: underline;
}
.secound-flwr{
    color: #272727;
    text-align: center;
    font-family: Lato;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 35px;
}
.third-flwr{
    color: #272727;
    text-align: center;
    font-family: Lato;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 35px;
}
.png-contener{
    display: flex;
    justify-content: space-around;
    width: 1100px;
    height: 418px;
    align-items: center;
    
}
.first-png{
    width: 60px;
height: 62px;
flex-shrink: 0;
display: block;
margin: auto;


}
.secound-png{
    width: 60px;
    height: 62px;
    flex-shrink: 0;
    display: block;
margin: auto;
}
.third-png{
    width: 60px;
    height: 62px;
    flex-shrink: 0;
    display: block;
margin: auto;
}
.style{
    color: rgba(39, 39, 39, 0.80);
text-align: center;
font-family: Lato;
font-size: 24px;
font-style: normal;
font-weight: 600;
line-height: 35px;
}
.mother-div{
    display: flex;
    height: 800px;
    justify-content: space-around;
    align-items: center;
}
.hot-deal{
    color: #272727;
font-family: Lato;
font-size: 40px;
font-style: normal;
font-weight: 800;
line-height: normal;
}
.hotdeal-p{
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-family: Lato;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
 
width: 594px;
flex-direction: column;
flex-shrink: 0;
}
.sing-up{
    height: 40px; width: 105px; background: #E55473; color: antiquewhite; border: #E55473; 

background: #E55473;
display: inline-flex;
padding: 9px 24px;
align-items: flex-start;
gap: 10px;

}
.father-div{
    display: flex;
    justify-content: space-around;
    height: 410px;
}
.size{
height: 320px;
flex-shrink: 0;
}
.smal-contener{
    text-align: center;
  
}
.instragram{
    color: #272727;
text-align: center;
font-family: Lato;
font-size: 40px;
font-style: normal;
font-weight: 800;
line-height: normal;
}
.instragram-p{
    color: rgba(39, 39, 39, 0.60);

font-family: Lato;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 30px;
text-align: center;
}
.h4-style{
    color: #272727;
    text-align: center;
    font-family: Lato;
    font-size: 33px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    width: 1200px;

}
.new-p{
    color: rgba(39, 39, 39, 0.60);
font-family: Lato;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 30px;
}
.minii-contener{
    text-align: center;
    height: 290px;
    align-items: center;
    background-image: url(../Rectangle\ 9.png)
    
    
    
}
.input-style{
    width: 700px;
height: 37px;
flex-shrink: 0;
border-radius: 8px;
background: #FFF;



}
.Subscribe{
    height: 40px; width: 105px; background: #E55473; color: antiquewhite; border: #E55473;
  
}
.flowershopp{
    color: #E55473;
    font-family: Lato;
    font-size: 48px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}
.fotter{
  height: 300px;
}
.footer-snddiv{
    text-align: center;
    align-items: center;
}
.flowershop-pp{
    color: rgba(255, 255, 255, 0.90);
    text-align: center;
    font-family: Lato;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;

}
.footer-snddiv{
    background: #111010;
    height: 370px;
    align-items: center;

}
.flowershop-h66{
    color: rgba(255, 255, 255, 0.40);
text-align: center;
font-family: Lato;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
.white{
    color: #FFF;
}
.pink{
   color: #E55473;

}



